@model GoldSilver.WebUI.Models.ContactFormViewModel

@{
    ViewBag.Title = "Contscts";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/Content/style.css">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/media.css">
    <link rel="stylesheet" href="/Content/fonts.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.tmpl.min.js"></script>

    <title>@ViewBag.Title</title>
</head>

@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading-area",
        LoadingElementDuration = 1000,
        Url = "/Home/Submit",
        OnBegin = "HideForm",
        OnFailure = "ShowFailure",
        UpdateTargetId = "message-area"
    };

}
<body>
    <header>
        <nav class="navbar navbar-fixed-top navbarbox">
            <div class="container-fluid big-size">
                <div class="row">
                    <div class="navbar-header">
                        <!-- Icon humburger-->
                        <button type="button" class="navbar-toggle collapsed menu-btn" data-toggle="collapse" data-target="#top_menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar" id="icon-color"></span>
                            <span class="icon-bar" id="icon-color"></span>
                            <span class="icon-bar" id="icon-color"></span>
                        </button>
                        <!-- logo-->
                        <a href="/" class="navbar-brand">
                            <img src="/Content/img/logo.png" alt="logo" class="logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right menu" id="top_menu">
                        <ul class="menu">
                            <li><a href="/">Головна</a></li>
                            <li><a href="/jewelries">Каталог</a></li>
                            <li><a href="Home/Contacts" class="active-link">Контакти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <style>
        #map {
            height: 100%;
            width: 100%;
            left: 0;
            position: absolute;
            top: 0;
        }
    </style>

    <div id="map"></div>

    <div class="container contact-form">
        <div class="row">
            <div class="col-lg-4 form-box">
                <form id="ContactForm" action="/Home/Submit" method="post">
                    @Html.AntiForgeryToken()
                    <div id="loading-area" class="col-lg-12 load" style="display:none;">
                        <div class='alert alert-info'><strong>Sending...</strong></div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Name">Ваше ім'я</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="Введіть своє ім'я" required>
                                <span class="input-group-addon"><small><i class="glyphicon glyphicon-ok form-control-feedback"></i></small></span>
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email">Ваш Email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Введіть свій Email" required>
                                <span class="input-group-addon"><small><i class="glyphicon glyphicon-ok form-control-feedback"></i></small></span>
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Message">Повідомлення</label>
                            <div class="input-group">
                                <textarea name="Message" id="Message" class="form-control" rows="10" placeholder="Введіть тут своє повідомлення" required></textarea>
                                <span class="input-group-addon"><small><i class="glyphicon glyphicon-ok form-control-feedback"></i></small></span>
                                @Html.ValidationMessageFor(m => m.Message)
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="InputReal">Обрахуйте наступний вираз 4+3? (Перевірка на спам!)</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="InputReal" id="InputReal" required>
                                <span class="input-group-addon"><small><i class="glyphicon glyphicon-ok form-control-feedback"></i></small></span>
                                @Html.ValidationMessageFor(m => m.InputReal)
                            </div>
                        </div>
                        <input type="submit" name="submit" id="submit" value="Send" class="btn btn-info pull-right">
                    </div>
                </form>
            </div>

            <script type="text/javascript">
                function HideForm() {
                    $("#form-area").hide();
                }
                function ShowFailure() {
                    $('#message-area')
                        .html("<div class='alert alert-danger'><strong>Error!</strong>The server could not be contacted and your message has not been sent. Please check your internet connection and try again later.</div>");
                }
            </script>

            <div class="col-lg-7 col-lg-offset-1 form-box">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contacts-block">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>
                                <span>(067) 688-04-50</span><br>
                                Андрій
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contacts-block">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p>
                                <span>gold.lviv@mail.ru </span>
                                <br>
                                Написати повідомлення
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contacts-block">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <p><span>м. Львів, вул. Наукова, 29а, 2-й поверх</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvkw-6jtPZKht9yvnaObcM9G7a4YQAaSE&callback=initMap" async defer></script>

    <script>
        function initMap() {
            var location = { lat: 49.803213, lng: 23.992841 };
            var centerPossition = { lat: 49.803213, lng: 23.990000 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: centerPossition
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
</body>
</html>