@model GoldSilver.Domain.Entities.Jewelry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div></div>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Головна</a></li>
    <li class="breadcrumb-item">@Html.ActionLink("Каталог", "List", "Jewelries")</li>
    <li class="breadcrumb-item active">
        @Html.RouteLink(Model.Category.CategoryName, new
        {
            controller = "Jewelries",
            action = "List",
            category = Model.Category.UrlPath,
            page = 1
        })
    </li>
</ol>

@Html.HiddenFor(m => m.Set)

<div class="container-fluid">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container row">

                <div class="col-lg-1">
                    @if (Model.PrevJewelry > 0)
                    {
                        <a href="@Url.Action("Details", new { id = @Model.PrevJewelry })"><i class="glyphicon glyphicon-chevron-left glyphicon-big"></i></a>
                    }
                </div>

                <div class="col-sm-10 col-md-5 col-lg-5">
                    <div class="row">
                        <div class="product col-sm-12 col-md-12 col-lg-12 row">
                            <img id="item-display" class="center-block" src="@Url.Action("GetMainImageById", "Jewelries", new { Model.JewelryId })" alt="">
                        </div>

                        <div class="container col-sm-12 col-md-12 col-lg-12 pull-left row">

                            <div id="teaser-img-container" class="row center-block">
                                @foreach (var image in Model.Images)
                                {
                                    <div class="col-md-4">
                                        <a id="item-1" class="service1-item" img-id="@image.Id">
                                            <img src="@Url.Action("GetImageTeaserById", "Jewelries", new { imageId = image.Id })" alt="" ></img>
                                        </a>
                                    </div>
                                }

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-sm-10 col-md-5 col-lg-5">
                    <div class="product-title">@Html.DisplayFor(model => model.Name)</div>

                    <div class="product-rating"><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star gold"></i><i class="fa fa-star-o"></i></div>
                    <hr>

                    @if (Model.Weight != null)
                    {
                        <div class="row">
                            <div class="col-sm-6">Вага:</div>
                            <div class="col-sm-6">@Model.Weight</div>
                        </div>
                    }

                    @if (Model.Article != null)
                    {
                        <div class="row">
                            <div class="col-sm-6">Артикул:</div>
                            <div class="col-sm-6">@Model.Article</div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6">Категорія:</div>
                        <div class="col-sm-6">@Model.Category.CategoryName</div>
                    </div>


                    @if (Model.GemstoneId != null)
                    {
                        <div class="row">
                            <div class="col-sm-6">Вставки:</div>
                            <div class="col-sm-6">@Model.Gemstone.GemstoneName</div>
                        </div>
                    }
                    <hr>

                    <div class="product-desc">
                        <p>@Model.Description</p>
                    </div>

                    <hr />
                    <div class="btn-group wishlist">
                        <button type="button" class="btn btn-danger">
                            Додати до улюблених 
                        </button>
                    </div>

                    <hr />

                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url.AbsoluteUri&t=Elios" target="_blank">
                        <span class="fa fa-facebook"></span>
                    </a>

                    <a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url=@Request.Url.AbsoluteUri" target="_blank">
                        <span class="fa fa-google"></span>
                    </a>
                    
                    @* Шарити треба не сторінку, а картинку *@
                    @*<a class="btn btn-social-icon btn-instagram">
                        <span class="fa fa-instagram"></span>
                    </a>*@

                    <a class="btn btn-social-icon btn-vk" href="http://vk.com/share.php?url=@Request.Url.AbsoluteUri" target="_blank">
                        <span class="fa fa-vk"></span>
                    </a>

                    <a class="btn btn-social-icon btn-odnoklassniki" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl=@Request.Url.AbsoluteUri&title=Elios" target="_blank">
                        <span class="fa fa-odnoklassniki"></span>
                    </a>

                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/share?url=@Request.Url.AbsoluteUri">
                        <span class="fa fa-twitter"></span>
                    </a>

                    
                    <a class="btn btn-social-icon btn-heart">
                        <span class="fa fa-heart"></span>
                    </a>
                    
                    <hr />


                </div>

                <div class="col-lg-1">
                    @if (Model.NextJewelry > 0)
                    {
                        <a href="@Url.Action("Details", new { id = @Model.NextJewelry })"><i class="glyphicon glyphicon-chevron-right glyphicon-big"></i></a>
                    }
                </div>

            </div>
            @if (Model.Set != null)
            {
                <div class="row">
                    <h2>Схожі товари</h2>
                    <div id="jewelries-set" class="row">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
