@model GoldSilver.WebUI.Models.JewelryViewModel

@{
    ViewBag.Title = "Admin: Edit " + @Model.Jewelry.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    @if (Model.Jewelry.JewelryId == 0)
    {
        <h1>Add new</h1>
    }
    else
    {
        <h1>Edit "@Model.Jewelry.Name"</h1>
    }
    <p>

    </p>

    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.ValidationSummary()

        @Html.HiddenFor(model => model.Jewelry.JewelryId)

        @Html.ActionLink("<- Повернутись", "Index", null, new { @class = "btn btn-default" })
        @:|
        <input class="btn btn-success" type="submit" value="Save" />

        <br /><br /><br />

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Name)
            </div>
            <div class="editor-field col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Name)
                @Html.ValidationMessageFor(model => model.Jewelry.Name)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label  col-lg-2">
                @Html.LabelFor(model => model.Jewelry.InStock)
            </div>
            <div class="editor-field  col-lg-10">
                @Html.EditorFor(model => model.Jewelry.InStock)
                @Html.ValidationMessageFor(model => model.Jewelry.InStock)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label  col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Price)
            </div>
            <div class="editor-field  col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Price)
                @Html.ValidationMessageFor(model => model.Jewelry.Price)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label  col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Article)
            </div>
            <div class="editor-field  col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Article)
                @Html.ValidationMessageFor(model => model.Jewelry.Article)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label  col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Description)
            </div>
            <div class="editor-field col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Description)
                @Html.ValidationMessageFor(model => model.Jewelry.Description)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Fineness)
            </div>
            <div class="editor-field col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Fineness)
                @Html.ValidationMessageFor(model => model.Jewelry.Fineness)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Weight)
            </div>
            <div class="editor-field col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Weight)
                @Html.ValidationMessageFor(model => model.Jewelry.Weight)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Categories, "Categories")
            </div>
            <div class="editor-field col-lg-10">
                @Html.ListBoxFor(m => m.SelectedJewelryCategories, Model.AllJewelryCategories)
                @Html.ValidationMessageFor(model => model.Jewelry.Categories)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Materials, "Materialials")
            </div>
            <div class="editor-field col-lg-10">
                @Html.ListBoxFor(m => m.SelectedJewelryMaterials, Model.AllJewelryMaterials)
                @Html.ValidationMessageFor(model => model.Jewelry.Materials)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Gemstones, "Gemstones")
            </div>
            <div class="editor-field col-lg-10">
                @Html.ListBoxFor(m => m.SelectedJewelryGemstones, Model.AllJewelryGemstones)
                @Html.ValidationMessageFor(model => model.Jewelry.Gemstones)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Popularity)
            </div>
            <div class="editor-field col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Popularity)
                @Html.ValidationMessageFor(model => model.Jewelry.Popularity)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                @Html.LabelFor(model => model.Jewelry.Set)
            </div>
            <div class="editor-field col-lg-10">
                @Html.EditorFor(model => model.Jewelry.Set)
                @Html.ValidationMessageFor(model => model.Jewelry.Set)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label  col-lg-2">
                @Html.LabelFor(model => model.Jewelry.VideoFromYoutube)
            </div>
            <div class="editor-field  col-lg-10">
                @Html.EditorFor(model => model.Jewelry.VideoFromYoutube)
                @Html.ValidationMessageFor(model => model.Jewelry.VideoFromYoutube)
            </div>
        </div>

        <div class="form-group row">
            <div class="editor-label col-lg-2">
                <label for="files">Add image:</label>
            </div>
            <div class="editor-field col-lg-10">
                <input class="multiple btn btn-default" type="file" name="files" multiple />
            </div>
        </div>
    }

    <div class="form-group row">
        <div class="editor-label col-lg-2">Images</div>
        @if (Model.Jewelry.Images != null)
        {
            <div class="image">
                @foreach (var img in Model.Jewelry.Images)
                {
                    var imgId = "imgId-@img.Id";
                    <div class="editor-field col-lg-2" id="@imgId">
                        @if (img.ImageData.Count() == 0)
                    {
                            @:None
                }
                    else
                    {
                        using (Ajax.BeginForm("DeleteImg", "Admin", null, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace
                        }))
                        {
                                <img class="img-edit" width="120" height="120" src="@Url.Action("GetImage", "Jewelries", new { JewelryId = img.Id })" />
                                @Html.HiddenFor(modelItem => img.Id)
                                <input type="submit" class="btn btn-xs btn-danger delete-img" value="x" />
                            }
                        }
                    </div>
                }
            </div>
        }
    </div>



</div>

<script type="text/javascript">
    $(function () {
        if (window.FileReader != null) {
            $('#single').hide();
            $('.single').prop('disabled', true);
        } else {
            $('#multiple').hide();
            $('.multiple').prop('disabled', true);
        }
    });
</script>

